html {
    padding: 0;
    margin: 0;
}
    
body {
	font-family: georgia;
    padding-bottom: 50px;
    margin-left: 0;
}

#date{
	font-family: 'Average Sans', sans-serif;
	color: #787881;
	text-transform: uppercase;
	position: fixed;
	text-align: center;
	padding-top: 20px;
	float: left;
	margin-left: 46%;
	z-index: 100000;
	display: none;
}

/*test*/
.login-form {
	display: none;
	font-family: 'Average Sans', sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    position: fixed;
    width: 300px;
    z-index: 10000000;
    margin-top: 100px;
    margin-left: -150px;
}
.login-form .header {
    padding: 40px 30px 30px;
}

.login-form .header h1 {
    color: #000000;
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.login-form .header span {
    color: #787881;
    font-size: 16px;
    line-height: 16px;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-align: left;
}

#incorrect-password-message{
	display: none;
	color: #AD85FF;
	width: 300px;
	margin-left: -30px;
	margin-top: -25px;
	text-align: center;
	position: fixed;
}

.login-form .content {
    padding: 0 30px 25px;
}

.login-form .content .input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
    color: #9D9E9E;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 25px;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 188px;
    text-align: left;
}
.login-form .content .password{
    margin-top: 25px;
}
.login-form .content .input:hover {
    background: none repeat scroll 0 0 #F8F6FF;
    color: #414848;
}
.login-form .content .input:focus {
    background: none repeat scroll 0 0 #F8F6FF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
    color: #414848;
}

.input, .submit, .cancel {
    transition: all 0.5s ease 0s;
}
.login-form .submit {
    background: none repeat scroll 0 0 #D4DEDF;
    border-top: 1px solid #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15) inset;
    overflow: auto;
    padding: 25px 30px 40px;
   	margin-right: 40px;
}
.login-form .footer {
	padding-bottom: 100px;
}

.login-form .footer .submit {
    background: none repeat scroll 0 0 #AD85FF;
    border: 1px solid #795DB2;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.75) inset;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 18px;
    font-weight: 300;
    padding: 11px 25px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.login-form .footer .submit:hover {
    background: none repeat scroll 0 0 #9C78E6;
    border: 1px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.login-form .footer .submit:focus {
    background: none repeat scroll 0 0 #56C2E1;
    bottom: -1px;
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.75) inset;
    position: relative;
}
.login-form .footer .cancel {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #AD85FF;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 18px;
    font-weight: 300;
    margin-right: 40px;
    padding: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.login-form .footer .cancel:hover {
    color: #564280;
}
.login-form .footer .cancel:focus {
    bottom: -1px;
    position: relative;
}

/*fix ie quirk of submitting on enter with only one field*/
#blank{
	display: none;
}

#login-shade {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999;
    opacity: .4;
    display: none;
}

/*begin body*/
a {
    color: #AD85FF;
    text-decoration: underline;
}

a.registry_link {
	text-decoration: none;
}

p {
    color: #8F8F8F;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 45px;
    margin-right: 45px;
}

img.image_box1_content {
	padding-top: 15px;
}

#mask {
 	background: url("http://juliusandesther.com/resources/img/preloader.gif") no-repeat fixed center center transparent;
    position:absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    background-color:white; 
    text-transform: uppercase;
    z-index:99999;
}

#header {
    background: url("http://juliusandesther.com/resources/img/nav_shadow.png") repeat-x scroll center bottom transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 158px;
    width: 100%;
	z-index: 999;
}
	

#nav_bg {
    background: url("http://juliusandesther.com/resources/img/nav.png") no-repeat scroll center bottom transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 158px;
    width: 100%;
    z-index: 1000;
}
    
#nav_item_wrapper {
	width: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
    
#nav_aboutus {
	font-family: 'Average Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
    float: left;
    cursor: pointer;
    top: 20px;
    height: 50px;
    width: 98px;
    z-index: 1100;
}

#nav_proposal {
	font-family: 'Average Sans', sans-serif;
	font-size: 16px;
	text-align: center;  
	text-transform: uppercase;
	position: relative;
    float: left;
    cursor: pointer;
    top: 20px;
    height: 50px;
    width: 134px;
    z-index: 1100;
}
	
#nav_photos {
	font-family: 'Average Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
    float: left;
    cursor: pointer;
    top: 20px;
    height: 50px;
    width: 85px;
    z-index: 1100;
}
	
#nav_rsvp {
	font-family: 'Average Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
    float: right;
    cursor: pointer;
    top: 20px;
    height: 50px;
    width: 110px;
    z-index: 1100;
}
	
#nav_registry {
	font-family: 'Average Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
    float: right;
    cursor: pointer;
    top: 20px;
    height: 50px;
    width: 96px;
    z-index: 1100;
}

#nav_thewedding {
	font-family: 'Average Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
    float: right;
    cursor: pointer;
    top: 20px;
    height: 50px;
    width: 112px;
    z-index: 1100;
}


#nav_aboutus:hover{
	color: #AD85FF;
}

#nav_proposal:hover {
	color: #AD85FF;
}
	
#nav_photos:hover {
	color: #AD85FF;
}
	
#nav_rsvp:hover {
	color: #AD85FF;
}
	
#nav_registry:hover {
	color: #AD85FF;
}

#nav_thewedding:hover {
	color: #AD85FF;
}
    
#gridwidth {
	margin-top: 67px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

#lead-photo {
	height: 664px;
	width: 1000px;
}

#about-us-title {
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;
	width: 300px;
	height: 68px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
}
	
#about-us-box-top {
	background: url("http://juliusandesther.com/resources/img/bg-box2-top.png") no-repeat scroll center bottom transparent;
	width: 687px;
	height: 48px;
	margin-top: 18px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}
	
#about-us-box-middle {
	background: url("http://juliusandesther.com/resources/img/bg-box2-middle.png") repeat-y scroll center bottom transparent;
	width: 687px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
	
#about-us-box-bottom {
	background: url("http://juliusandesther.com/resources/img/bg-box2-bottom.png") no-repeat scroll center bottom transparent;
	width: 731px;
	height: 114px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}
	
#from-us-wrapper {
	width: 930px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

#from-from{
	font-family: Georgia;
	font-size: 24px;
	text-align: center;
}

#from-esther-wrapper {
	width: 460px;
	float: left;
	margin-left: auto;
	margin-right: auto;
}

#from-esther-title {
	
	background: url("http://juliusandesther.com/resources/img/heartdiv.png") no-repeat scroll center bottom transparent;
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;
	width: 399px;
	height: 165px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

#from-esther-text {
	width: 399px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 13px;
}

#from-julius-wrapper {
	width: 460px;
	float: right;
	margin-left: auto;
	margin-right: auto;
}

#from-julius-title {
	background: url("http://juliusandesther.com/resources/img/heartdiv.png") no-repeat scroll center bottom transparent;
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;
	width: 399px;
	height: 165px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

#from-julius-text {
	width: 399px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 13px;
}

#proposal-title {
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;
	width: 338px;
	height: 125px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
}

#proposal-wrapper {
	text-align: center;
	width: 1000px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

#photos{
	display: none;
}

#photos-title {
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;width: 151px;
	height: 68px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}
	
	
#photos-wrapper {
	width: 957px;
	height: 567px;
	margin-left: auto;
	margin-right: auto;
}

#photos-leftarrow {
	background: url("http://juliusandesther.com/resources/img/icon-arrow-left.png") no-repeat scroll center center transparent;
	width: 24px;
	height: 567px;
    cursor: pointer;
	float: left;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
	
#photos-slideshow {
	background: url("http://juliusandesther.com/resources/img/bg-photo-frame.png") no-repeat scroll center bottom transparent;
	width: 909px;
	height: 567px;
	float:left;
	margin-left: auto;
	margin-right: auto;
}

#photos-thephoto {
	position: relative;
	width: 853px;
	height: 505px;
}

#photos-thephoto img {
	position: absolute;
	top: 28px;
	left: 70px;
}

#photos-rightarrow {
	background: url("http://juliusandesther.com/resources/img/icon-arrow-right.png") no-repeat scroll center center transparent;
	width: 24px;
	height: 567px;
    cursor: pointer;
	float: right;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
	
#photos-text {
	width: 687px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 13px;
}


#the-wedding-title {
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;
	width: 371px;
	height: 161px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
}


#ceremony-box-top {
	background: url("http://juliusandesther.com/resources/img/bg-box1-top-ceremony.png") no-repeat scroll center bottom transparent;
	width: 739px;
	height: 117px;
	margin-top: 18px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}
	
#reception-box-top {
	background: url("http://juliusandesther.com/resources/img/bg-box1-top-reception.png") no-repeat scroll center bottom transparent;
	width: 739px;
	height: 117px;
	margin-top: 18px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#hotels-box-top {
	background: url("http://juliusandesther.com/resources/img/bg-box1-top-hotels.png") no-repeat scroll center bottom transparent;
	width: 739px;
	height: 117px;
	margin-top: 18px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}
	
#box1-middle {
	background: url("http://juliusandesther.com/resources/img/bg-box1-middle.png") repeat-y scroll center bottom transparent;
	width: 687px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
	
#box1-bottom {
	background: url("http://juliusandesther.com/resources/img/bg-box1-bottom.png") no-repeat scroll center bottom transparent;
	width: 731px;
	height: 86px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}


#weddingparty-wrapper {
	width: 930px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

#bm-wrapper {
	width: 465px;
	float: left;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 13px;
}

#bm-title {
	background: url("http://juliusandesther.com/resources/img/bridesmaids.png") no-repeat scroll center bottom transparent;
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;
	width: 398px;
	height: 170px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

#gm-wrapper {
	width: 465px;
	float: right;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 13px;
}

#gm-title {
	background: url("http://juliusandesther.com/resources/img/groomsmen.png") no-repeat scroll center bottom transparent;
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;	
	width: 397px;
	height: 170px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

#gm-people {
	width: 399px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 13px;
}

#registry-title {
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;
	width: 207px;
	height: 99px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
}
	
#rsvp-title {
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;width: 338px;
	height: 125px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
}

#guestbook{
	display: none;
}

#guestbook-title {
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;width: 338px;
	height: 125px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
}

#heart-divider{
	background: url("http://juliusandesther.com/resources/img/heartdiv.png") no-repeat scroll center bottom transparent;
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;
	width: 399px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
}

#tunes{
	padding-top: 20px;
}

/*#tunes-title {
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;width: 338px;
	height: 125px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
}*/
