html {
    padding: 0;
    margin: 0;
}
    
body {
	font-family: georgia;
    padding-bottom: 317px;
}

/*security*/
#cboxOverlay {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999;
}

a {
    color: #F2797F;
    text-decoration: underline;
}

a.registry_link {
	text-decoration: none;
}

p {
    color: #8F8F8F;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 45px;
    margin-right: 45px;
}

img.image_box1_content {
	padding-top: 15px;
}

#mask {
 	background: url("http://juliusandesther.com/resources/img/preloader.gif") no-repeat fixed center center transparent;
    position:absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    background-color:white; 
    z-index:99999;
}


#header {
    background: url("http://juliusandesther.com/resources/img/nav_shadow.png") repeat-x scroll center bottom transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 158px;
    width: 100%;
	z-index: 999;
}
	

#nav_bg {
    background: url("http://juliusandesther.com/resources/img/nav.png") no-repeat scroll center bottom transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 158px;
    width: 100%;
    z-index: 1000;
}
    
#nav_item_wrapper {
	width: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
    
#nav_aboutus {
	font-family: 'Average Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
    float: left;
    cursor: pointer;
    top: 20px;
    height: 50px;
    width: 98px;
    z-index: 1100;
}

#nav_proposal {
	font-family: 'Average Sans', sans-serif;
	font-size: 16px;
	text-align: center;  
	text-transform: uppercase;
	position: relative;
    float: left;
    cursor: pointer;
    top: 20px;
    height: 50px;
    width: 134px;
    z-index: 1100;
}
	
#nav_photos {
	font-family: 'Average Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
    float: left;
    cursor: pointer;
    top: 20px;
    height: 50px;
    width: 85px;
    z-index: 1100;
}
	
#nav_rsvp {
	font-family: 'Average Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
    float: right;
    cursor: pointer;
    top: 20px;
    height: 50px;
    width: 110px;
    z-index: 1100;
}
	
#nav_registry {
	font-family: 'Average Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
    float: right;
    cursor: pointer;
    top: 20px;
    height: 50px;
    width: 96px;
    z-index: 1100;
}

#nav_thewedding {
	font-family: 'Average Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
    float: right;
    cursor: pointer;
    top: 20px;
    height: 50px;
    width: 112px;
    z-index: 1100;
}


#nav_aboutus:hover{
	color: #CC99FF;
}

#nav_proposal:hover {
	color: #CC99FF;
}
	
#nav_photos:hover {
	color: #CC99FF;
}
	
#nav_rsvp:hover {
	color: #CC99FF;
}
	
#nav_registry:hover {
	color: #CC99FF;
}

#nav_thewedding:hover {
	color: #CC99FF;
}
    
#gridwidth {
	margin-top: 67px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

#lead-photo {
	height: 664px;
	width: 1000px;
}

#about-us-title {
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;
	width: 300px;
	height: 68px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
}
	
#about-us-box-top {
	background: url("http://juliusandesther.com/resources/img/bg-box2-top.png") no-repeat scroll center bottom transparent;
	width: 687px;
	height: 48px;
	margin-top: 18px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}
	
#about-us-box-middle {
	background: url("http://juliusandesther.com/resources/img/bg-box2-middle.png") repeat-y scroll center bottom transparent;
	width: 687px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
	
#about-us-box-bottom {
	background: url("http://juliusandesther.com/resources/img/bg-box2-bottom.png") no-repeat scroll center bottom transparent;
	width: 731px;
	height: 114px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}
	
#from-us-wrapper {
	width: 930px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

#from-from{
	font-family: Georgia;
	font-size: 24px;
	text-align: center;
}

#from-esther-wrapper {
	width: 460px;
	float: left;
	margin-left: auto;
	margin-right: auto;
}

#from-esther-title {
	
	background: url("http://juliusandesther.com/resources/img/heartdiv.png") no-repeat scroll center bottom transparent;
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;
	width: 399px;
	height: 165px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

#from-esther-text {
	width: 399px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 13px;
}

#from-julius-wrapper {
	width: 460px;
	float: right;
	margin-left: auto;
	margin-right: auto;
}

#from-julius-title {
	background: url("http://juliusandesther.com/resources/img/heartdiv.png") no-repeat scroll center bottom transparent;
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;
	width: 399px;
	height: 165px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

#from-julius-text {
	width: 399px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 13px;
}

#proposal-title {
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;
	width: 338px;
	height: 125px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
}

#proposal-wrapper {
	text-align: center;
	width: 1000px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}


#photos-title {
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;width: 151px;
	height: 68px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}
	
	
#photos-wrapper {
	width: 957px;
	height: 567px;
	margin-left: auto;
	margin-right: auto;
}

#photos-leftarrow {
	background: url("http://juliusandesther.com/resources/img/icon-arrow-left.png") no-repeat scroll center center transparent;
	width: 24px;
	height: 567px;
    cursor: pointer;
	float: left;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
	
#photos-slideshow {
	background: url("http://juliusandesther.com/resources/img/bg-photo-frame.png") no-repeat scroll center bottom transparent;
	width: 909px;
	height: 567px;
	float:left;
	margin-left: auto;
	margin-right: auto;
}

#photos-thephoto {
	position: relative;
	width: 853px;
	height: 505px;
}

#photos-thephoto img {
	position: absolute;
	top: 28px;
	left: 70px;
}

#photos-rightarrow {
	background: url("http://juliusandesther.com/resources/img/icon-arrow-right.png") no-repeat scroll center center transparent;
	width: 24px;
	height: 567px;
    cursor: pointer;
	float: right;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
	
#photos-text {
	width: 687px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 13px;
}


#the-wedding-title {
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;
	width: 371px;
	height: 161px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
}


#ceremony-box-top {
	background: url("http://juliusandesther.com/resources/img/bg-box1-top-ceremony.png") no-repeat scroll center bottom transparent;
	width: 739px;
	height: 117px;
	margin-top: 18px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}
	
#reception-box-top {
	background: url("http://juliusandesther.com/resources/img/bg-box1-top-reception.png") no-repeat scroll center bottom transparent;
	width: 739px;
	height: 117px;
	margin-top: 18px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#hotels-box-top {
	background: url("http://juliusandesther.com/resources/img/bg-box1-top-hotels.png") no-repeat scroll center bottom transparent;
	width: 739px;
	height: 117px;
	margin-top: 18px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}
	
#box1-middle {
	background: url("http://juliusandesther.com/resources/img/bg-box1-middle.png") repeat-y scroll center bottom transparent;
	width: 687px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
	
#box1-bottom {
	background: url("http://juliusandesther.com/resources/img/bg-box1-bottom.png") no-repeat scroll center bottom transparent;
	width: 731px;
	height: 86px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}


#weddingparty-wrapper {
	width: 930px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

#bm-wrapper {
	width: 465px;
	float: left;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 13px;
}

#bm-title {
	background: url("http://juliusandesther.com/resources/img/bridesmaids.png") no-repeat scroll center bottom transparent;
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;
	width: 398px;
	height: 170px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

#gm-wrapper {
	width: 465px;
	float: right;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 13px;
}

#gm-title {
	background: url("http://juliusandesther.com/resources/img/groomsmen.png") no-repeat scroll center bottom transparent;
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;	
	width: 397px;
	height: 170px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

#gm-people {
	width: 399px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 13px;
}

#registry-title {
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;
	width: 207px;
	height: 99px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
}
	
#rsvp-title {
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;width: 338px;
	height: 125px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
}

#guestbook-title {
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	text-align: center;width: 338px;
	height: 125px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
}
